#app {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    user-select: none;
    gap: 4px;
}

#app button {
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

#app button:hover {
    background: #1d49aa;
}

#app button:disabled {
    visibility: hidden;
}