html {
    overflow: hidden;
    height: 100%;
    background-color: white;
}

body {
    user-select: none;
    -webkit-user-select: none;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    user-select: none;
    gap: 4px;
    width: 100vmin;
    height: 100vmin;
}

#app button {
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    font-size: 24px;
}

#app button:hover {
    background: #1d49aa;
}

#app button:disabled {
    visibility: hidden;
}