html {
    overflow: hidden;
    height: 100%;
}

body {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
}

#game-field {
    display: grid;
    gap: 0.9vmin;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vmin;
    user-select: none;
    width: 100vmin;
}

#game-field button {
    margin: 0px;
    background: #4676D7;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 5vmin;
}

#game-field > button:hover {
    background: #1d49aa;
}

#game-field > button.disabled {
    visibility: hidden;
}